@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.fa-2x, .fas-2x {
	font-size: 2em;
}
.fa, .fas {
	position: relative;
	display: table-cell;
	width: 50px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
    cursor: pointer;
}

.sidebar-menu:hover,
nav.sidebar-menu.expanded {
	width: 250px;
	overflow: visible;
}
.sidebar-menu {
    box-shadow: 1px 0px 5px 0 rgba(0, 0, 0, .4);
    
    flex-shrink: 0;
	background: #212121;
	position: fixed;
	padding-top: 33px;
	bottom: 0;
	height: 100vh;
    max-height: 100vh;
	left: 0;
	width: 50px;
	overflow: hidden;
    display: flex;
    flex-direction: column;
	-webkit-transition: width .05s linear;
	transition: width .05s ease;
	-webkit-transform: translateZ(0) scale(1, 1);
	z-index: 1000;
}
.sidebar-menu>ul {
	margin: 7px 0;
}
.sidebar-menu li {
	position: relative;
	display: block;
	width: 250px;
}
.sidebar-menu li>a {
	position: relative;
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
	color: #999;
	font-family: arial;
	font-size: 14px;
	text-decoration: none;
	-webkit-transform: translateZ(0) scale(1, 1);
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}
.sidebar-menu .nav-icon {
	position: relative;
	display: table-cell;
	width: 60px;
	height: 36px;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
}
.sidebar-menu .nav-text {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	width: 200px;
	font-family: 'Roboto', sans-serif;
}
.sidebar-menu>ul.settings {
	position: absolute;
	left: 0;
	bottom: 15px;
}


.no-touch .scrollable.hover {
	overflow-y: hidden;
}
.no-touch .scrollable.hover:hover {
	overflow-y: auto;
	overflow: visible;
}
a:hover,
a:focus {
	text-decoration: none;
}
nav {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
nav ul,
nav li {
	outline: 0;
	margin: 0;
	padding: 0;
}
/*
.sidebar-menu li:hover>a,
nav.sidebar-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
	color: #fff;
	background-color: #5fa2db;
}*/

.sidebar-menu li:hover>a,
.sidebar-menu.selected{
    color: #fff;
	background-color: #0D7DD8;
}

.selected-menu-item{
    background-color: #121212 !important;
  }

.tick-mark{
    background-color: #0D7DD8;
    left: 0;
    height: 50px;
    width: 5px;
    z-index: 1002;
    margin-right: -5px;
}